<% @page_title = 'Staff Area Login' %>

<%= form_for(:user, :action => 'send_login') do %>
	
	<p>Username: <%= text_field(params[:username]) %></p>

	<p>Username: <%= password_field('password') %></p>

	<%= submit_tag("Log in") %>
<% end %>