
<table>
	<tr>
		<td>Your name:</td>
		<td><%= f.text_field(:author) %></td>
	</tr>
	<tr>
		<td>Your email:</td>
		<td><%= f.text_field(:author_email) %></td>
	</tr>
	<tr>
		<td>Comment:</td>
		<td><%= f.text_area(:content, :cols => 60, :rows => 20) %></td>
	</tr>
	
</table>